<!doctype html>
<html lang="en">
<head>
  <title>Прикрепить</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<style>
body{
  text-align: center;
}
.buttonClass{
    width: 200px;
    height: 70px;
    margin-top: 5%;
    border-color: rgb(144, 144, 136);
    background-color: rgb(144, 144, 136);
    border-radius: 15px;
    }


</style>
<h1 align="center">Прикрепление гифку и фото</h1>
<br>

<div  align="center">
    <form class="form" method="post" enctype="multipart/form-data">
        <label>Ссылка на гифку</label><br>
        <input type="text" name="gif"><br>
        <label>Ссылка на фото</label><br>
        <input type="text" name="photo"><br>
        <input type="submit"><br>
      </form>
</div>
<hr>
<a href="/main">
  <button class="buttonClass">
      Назад </button>
  </a> 
</body>

</html>